AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@localhost:5432/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
GOOGLE_APPLICATION_CREDENTIALS=/usr/local/airflow/include/gcs_credentials.json