.git
airflow.cfg
airflow.db
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
airflow-webserver.pid
webserver_config.py
logs
.DS_Store
include/__pycache__/
.env
.envrc
data/raw/*
data/cleaned/*
data/enriched/*
data/deduplicated/*
data/tmp/*
reports/*
gx/expectations/.ge_store_backend_id
gx_merged.csv

#Be sure to remove the credentials file from the repository, as it may contain sensitive information.
*credentials.json

#Terraform files
*.tfstate
*.tfstate.backup
.terraform/