.git
airflow.cfg
airflow.db
airflow-webserver.pid
webserver_config.py
logs
standalone_admin_password.txt
background_logs_info.txt
.DS_Store
include/__pycache__/
.venv
.env
settings.yaml
.airflowctl
dags/data/raw/*
dags/data/cleaned/*
dags/data/enriched/*
dags/data/deduplicated/*
dags/data/tmp/*
dags/reports/*
__pycache__/
gx/expectations/.ge_store_backend_id