# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
pandas
opencv-python
matplotlib
Unidecode
openpyxl
torch 
torchvision
timm
pendulum
great_expectations
airflow-provider-great-expectations
gcsfs
seleniumbase
apache-airflow-providers-google
apache-airflow-providers-cncf-kubernetes