# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
langchain_ollama
ollama
pandas
bs4
opencv-python
matplotlib
Unidecode
openpyxl
torch 
torchvision
timm
pendulum
great_expectations
airflow-provider-great-expectations
google-cloud-storage
playwright